* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body  {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    /*background-color: lightblue;*/
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;   
}

.logo-container, .nav-links{
    display: flex;
}

.logo-container {
    /*background-color: lightblue;*/
    flex: 1;
    text-decoration: none;
    margin-left: 5vw;
    align-items: center;
    max-width: 10%;
}

.logo-image{
    width: 40%;
}

.logo{
    font-weight: 400;
    margin: 5px;
    text-decoration: none;
    color: #010101;
}

nav{
    /*background-color: rgb(156, 37, 21);*/
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: #5f5f79;
    text-decoration: none;
    font-size: 18px;
}

.bigc {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 80%;
}

.midc {
    position: fixed;
    top: 30vh;
    right: 30vh;
    z-index: -1;
    opacity: 0.4;
    height: 60%;
}

.smallc {
    position: fixed;
    top: 60vh;
    right: 60vh;
    z-index: -1;
    height: 40%;
}

footer {
    display: block;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    bottom:0;
    width: 100%;
}

.innerfooter{
    display: block;
    width: 100%;
    height: 100%;
    margin: 1vw 0 1vw 0;
}

@media only screen and (max-width: 1080px){
    html{
        margin: 0px;
    }
    h1{
        font-size: 3px;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .bigc{
        width: 30vw;
    }
    .section{
        flex-direction: column;
    }
    .body_img{
        max-height: 66vw;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .caption{
        padding-left: 20px;
        padding-bottom: 20px;
    }
    footer{
        margin-top: 20px;
    }
    .innerfooter{
        font-size: 0.8rem;
    }
    .intro-text{
        padding-top: 20px;
    }
    header{
        font-size:1em;
    }
    .nav-links, .nav-link{
        float: right;
        font-size:0.9rem;
        margin-right: 15px;
    }
    .logo-image{
        width: 6vw;
    }
}
