main {
    padding: 0 5vw 0 5vw;
}

.spacer{
    margin-top: 5vw;
}

h2 {
    color: #010101;
    margin-right: 5px;
}

h3{
    color: #010101;
}

section{
    justify-content: center;
}

.ted{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    align-items: center;
}

.li2 {
    margin-top: 10px;
}

.ul2{
    list-style: none;
}

.outerinfo{
    display: flex;
}

.icon{
    width: 15%;
}

.small-text{
    font-size: 1.2vw;
}

@media only screen and (max-width: 1080px){
    .outerinfo{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2.9vw;
    }
    .contact{
        font-size: 2.9vw;
        text-align: center;
    }
    .info{
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .icon{
        margin-left: 17vw;
        height: 10vw;
        width: 10vw;
    }
    .small-text{
    font-size: 2.9vw;
}
}