@media (prefers-color-scheme: dark){

    h1{
        color: whitesmoke;
    }

    h2{
        color: whitesmoke;
    }

    section p{
        color: whitesmoke;
    }

    .lefth1{
        background: linear-gradient(to right, whitesmoke, #6f6f89);
        -webkit-background-clip: text;
    }

    .righth1{
        background: linear-gradient(to left, whitesmoke, #6f6f89);
        -webkit-background-clip: text;
    }
}