<div class="innerfooter">
    <p style="text-align: center;">Developed with &lt3 by the TED Sakarya GCC Software Team - 
    <b><a href="https://tedsakaryagcc.xyz/reference">References</a></b> - 
    <b><a href="https://gitlab.com/manyet1k/2022-gcc-website" target="_blank" rel="noreferrer noopener">Source Code</a></b>
    </p>
</div>