<a href="https://tedsakaryagcc.xyz" class="logo-container">
    <img class="logo-image" src="img/ted-sakar-logo-150.png" alt="logo"> 
    <h4 class="logo">GCC</h4>
</a>
<nav>
<ul class="nav-links">
    <li><a href="https://tedsakaryagcc.xyz/articles" class="nav-link">Our Articles</a></li>
    <li><a href="https://tedsakaryagcc.xyz/contact" class="nav-link">Contact</a></li>
    <li><a href="https://tedsakaryagcc.xyz/2021" class="nav-link">GCC 2021</a></li>
</ul>
</nav>